#!/usr/bin/make -f


%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- CONFIG+=release

override_dh_auto_install:
	$(MAKE) install CONFIG+=release \
	DESTDIR=$(CURDIR)/debian/openfx-misc-natron

override_dh_clean:
	$(MAKE) clean CONFIG+=release
	dh_clean
	
	# reduce size of the orig-tarball...
	-rm -rf openfx/Documentation
	-rm -rf openfx/Examples
	-rm -rf openfx/website
	-rm -rf openfx/scripts
	-rm -rf openfx/Guide
	
	-rm -rf openfx/HostSupport/expat-2.2.1
	-rm -rf openfx/HostSupport/examples
	
	-rm -rf openfx/Support/PropTester

