#!/usr/bin/make -f

# git clone https://github.com/NatronGitHub/openfx
# git clone https://github.com/NatronGitHub/openfx-supportext SupportExt
# find -name '.git*' | xargs rm -rf

%:
	dh $@


override_dh_auto_build:
	dh_auto_build -- CONFIG=release

override_dh_auto_install:
	$(MAKE) install CONFIG+=release \
	DESTDIR=$(CURDIR)/debian/openfx-misc-natron

override_dh_clean:
	dh_clean
	$(MAKE) clean CONFIG+=release

	-rm -rf openfx/Documentation
	-rm -rf openfx/Examples
	-rm -rf openfx/website
	-rm -rf openfx/scripts
	-rm -rf openfx/Guide

	-rm -rf openfx/HostSupport/expat-2.2.1
	-rm -rf openfx/HostSupport/examples

	-rm -rf openfx/Support/PropTester
