#!/usr/bin/make -f


%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- CONFIG+=release

override_dh_auto_install:
	$(MAKE) install CONFIG+=release \
	DESTDIR=$(CURDIR)/debian/openfx-misc-natron

override_dh_clean:
	dh_clean
	$(MAKE) clean CONFIG+=release

